{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static "css/trips.css" %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>I Have That</title>
</head>
<body>
    <header>
        <nav>
            <p>A Nav Button</p>
            <p>A Nav Button</p>            
        </nav>
    </header>
    <main>
        {% for detail in member_info %}
        <h1>{{ detail.name }}</h1>
        <img src="{{ detail.photo }}"
            alt="Picture of Mac with Millie, the Corgi"
            width="220" height="300">
        <p>{{ detail.bio }}</p>
        <div class="trip-grid">
            {{ detail.trips.name }}
        </div>
        {% endfor %}
    </main>
    
</body>
</html>